/* select a font */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --clr-sky-blue: #8ecae6ff;
  --clr-blue-green: #219ebcff;
  --clr-prussian-blue: #023047ff;
  --clr-selective-yellow: #ffb703ff;
  --clr-ut-orange: #fb8500ff;
  --ff-roboto: 'Roboto', sans-serif;
  --ff-noto-sans: 'Noto Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
}

body {
  width: 100%;
  height: 100%;
  background-color: #b7e4df;
}

.head-line {
  position: absolute;
  top: 20px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}

h1 {
  font-size: 20px;
  font-weight: 800;
}

.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9rem;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
  background-color: #19172e;
  color: #fff;
  text-align: left;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
  font-weight: 800;
}

.check {
  font-size: 20px;
  text-align: center;
}

.check .present {
  color: green;
  cursor: pointer;
}

.check .absent {
  color: red;
  cursor: pointer;
}
